@model AccountLoginViewModel;

@{
    ViewBag.Title = "Login page";
}

<div class="  d-flex flex-column justify-content-center align-content-center w-100 h-auto">

    <form asp-controller="Account" asp-action="Login" method="post" class="mt-3 border" style="width: 50%; border-radius: 5px; padding: 10px 10px; ">
        <h2 class="card-title" style="margin-bottom:20px;">Log In</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label custom-file-label"></label>
            <div class="col-sm-10" style="margin-bottom:20px;">
                <input asp-for="Email" class="form-control custom-file-input">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label custom-file-label"></label>
            <div class="col-sm-10" style="margin-bottom:20px;">
                <input asp-for="Password" class="form-control custom-file-input">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-check" style="margin-bottom:20px;">
                <label asp-for="RememberMe" class="col-sm-2 col-form-label custom-file-label" style="width: auto;">
                    <input asp-for="RememberMe">
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Login</button>
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancel</a>
            </div>
        </div>

    </form>

    <div class="card w-50">
        <div class="card-header"><h4>External Login Providers</h4></div>
        @if (Model.ExternalLogins.Count == 0)
        {<div class="card-body">
                <h6 class="text-success">You don't have any providers yet!</h6>
            </div>
            <div class="card-footer"></div>
        }
        else
        {<div class="card-footer">
                <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button class="btn btn-primary"
                                type="submit" name="provider" value="@provider.Name" title="Login using your @provider.DisplayName account">
                            @provider.DisplayName
                        </button>
                    }
                </form>
            </div>
        }
    </div>

</div>